*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

ul{
    list-style: none;
    margin: 0;
    padding: 0;
}

ul li a {
    text-decoration: none;
}

.flex-container{
    display: flex;
    max-width: 992px;
    margin: auto;
    width: 100%;
    justify-content: space-between;
}
header{
    background-color: #122a57;
    height: 100px;
    display: flex;
    align-items: center;
    color: white;
}
header .list-items{
    display: flex;
    max-width: 260px;
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
.list-items li a{
    color: white;
}

header .menu{
    justify-content: space-between;
}

.apresentacao{
    height: 100vh;
    align-items: center;
    justify-content: space-between;
}

.apresentacao .texto-apresentacao{
    min-height: 200px;

}

.texto-apresentacao h1{
    color: #122a57;
    font-size: 48px;
    margin-bottom: 10px;
}

.btn{
    background-color: #122a57;
    color: white;
    text-align: center;
    border-radius: 30px;
    text-decoration: none;
    width: 220px;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}

#quem-somos{
    flex-direction: row-reverse;

    align-items: center;
    justify-content: space-between;
}

#quem-somos h2{
    font-size: 32px;
    color: #122a57;
    display: flex;
    margin-bottom: 20px;
}

#quem-somos h2::before{
    content: "";
    height: 50px;
    width: 5px;
    margin-right: 5px;
    background-color: #122a57;
    position: relative;
}

#quem-somos p{
    margin-bottom: 10px;
    width: 90%;
}
div img{
    display: block;
    width: 100%;
}
#quem-somos img{
    min-width: 420px;
}

.container-externo{
    background-color: #122a57;
    width: 100%;
    color: white;
}

#servicos{
    flex-direction: column;
    padding: 50px 0;
}

#servicos h2{
    font-size: 1.8em;
    margin-bottom: 40px;
}

.list-servicos{
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.list-servicos .item-servico{
    text-align: center;
    text-decoration: none;
    color: white;
}
.list-servicos .item-servico a{
    text-decoration: none;
    background-color: #fff;
    width: 220px;
    border-radius: 30px;
    padding: 10px 0;
    display: block;
    color: #000;
}
.list-servicos .item-servico p{
    font-weight: bold;
    margin: 10px;
}

.list-servicos .item-servico img{
    width: 80%;
    margin: auto;
}

#planos{
    flex-direction: column;
    
}
.list-planos{
    display: flex;
    align-items: flex-end;
}
.item-plano{
    flex: 1;
    border: 4px solid #122a57;
    margin-right: 20px;
    padding: 15px;
}
.item-plano .btn{
    margin: auto;
    margin-bottom: 20px;
}

.item-plano h3 {
    font-size: 24px;
    display: flex;
    flex-direction: column;
    text-align: center;

}

.item-plano h3::after{
    content: " ";
    background-color: #122a57;
    width: 100%;
    height: 3px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.item-plano ul{
    padding: 10px 20px;
    display: flex;
    flex-direction: column;
    list-style-type: square;
    margin-left: 13%;
}

#planos h2{
    font-size: 40px;
    margin-top: 10%;
}

footer{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    color: #fff;
    margin-top: 40px;
}
footer .footer{
    background-color: #122a57;
    width: 100%;
    height: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.footer p{
    margin:auto;
}

@media(max-width: 992px){
    .flex-container{
        flex-direction: column;
    }
    .apresentacao{
        flex-direction: column-reverse;
    }

    .apresentacao .texto-apresentacao{
        width: 100%;
    }

    #quem-somos{
        flex-direction: column-reverse;
    }
    .list-servicos{
        flex-direction: column;
    }

    .item-servico img{
        width: 50%;
        margin: auto;
    }

    .list-planos{
        flex-direction: column;
        align-items: flex-start;
    }
}